# Ignore Terraform state files
terraform.tfstate*
*.tfstate*

# Ignore Terraform lock file
.terraform.lock.hcl

# Ignore .terraform directory
.terraform/

# Ignore files and directories generated during Terraform execution
*.plan
*.tfvars

# Ignore .terraform directory from submodules
**/.terraform

# Ignore Ansible configuration and inventory files
docker_boogaloo_numba_twoo/ansible.cfg
docker_boogaloo_numba_twoo/inventory
